
<div class="discription">
  <h1>How I feel about Angular</h1>
  <h4>USERNAME : {{username}}</h4>
  <article>
    <p>
      Angular is my favorite framework, and this is why. Angular has the coolest deferrable view
      feature that makes defer loading content the easiest and most ergonomic it could possibly
      be. The Angular community is also filled with amazing contributors and experts that create
      excellent content. The community is welcoming and friendly, and it really is the best
      community out there.
    </p>
  </article>

  @defer (on viewport) {
    <ul>
      <li>Building for the web is fantastic!</li>
      <li>The new template syntax is great</li>
      <li>I agree with the other comments!</li>
    </ul>}
  @placeholder {<p>Future comments</p>}
  @loading (minimum 2s) {<p>Loading comments...</p>}

</div>
